---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Team from "../components/Team.astro";
import MagicBento from "@/components/ui/animated/MagicBento";
import RotatingText from "@/components/ui/animated/RotatingText";


import SpotlightSection from "@/components/section/about/SpotlightSection.astro";
---

<Layout title="Bienvenido a BeelGo">
  <main class="space-y-20">
    <Container>
      <!-- HERO -->
      <div
        class="relative flex flex-col-reverse items-center md:flex-row"
        id="hero"
      >
        <div class="row items-center py-5 md:pb-20 md:pt-10">
          <div class="text-center space-y-10">
            <div
              class="flex flex-col items-center justify-center overflow-hidden -mt-24 h-screen w-full m-auto"
            >
              <h1
                class="text-5xl text-center font-medium leading-none md:text-6xl"
              >
                Es momento de <RotatingText
                  client:load
                  texts={["Preservar.", "Viajar.", "Descubrir.", "!BeelGo!"]}
                  mainClassName="px-2 text-6xl sm:px-2 md:px-3 bg-lime-400 text-black uppercase overflow-hidden py-0.5 sm:py-1 md:py-2 justify-center rounded-lg"
                  staggerFrom={"last"}
                  initial={{ y: "100%" }}
                  animate={{ y: 0 }}
                  exit={{ y: "-120%" }}
                  staggerDuration={0.025}
                  splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
                  transition={{ type: "spring", damping: 30, stiffness: 400 }}
                  rotationInterval={2000}
                />
              </h1>

              <p class="text-2xl font-normal leading-7 mt-6">
                En el <strong> BeelGo </strong>estamos comprometidos con la
                preservación del medio ambiente y el apoyo a las comunidades
                locales.
              </p>
              <SpotlightSection />
            </div>


            <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12 animate-fade-in">
              BeelGo es una plataforma innovadora dedicada a la preservación y
              difusión de la herencia cultural de México. Integra herramientas
              digitales que permiten a los usuarios explorar mapas interactivos,
              conocer eventos culturales, apoyar a artesanos locales y descubrir
              experiencias auténticas que fortalecen la identidad cultural.
            </p><br />
            <a href="https://485z3n3rwf9.typeform.com/to/Gd6X7ze8">
              <button
                class="relative inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50 transition-transform duration-300 ease-in-out hover:scale-105"
              >
                <span
                  class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#b6f55f_0%,#96e53b_50%,#b6f55f_100%)]"
                ></span>
                <span
                  class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-lime-400 px-8 py-1 text-sm font-medium text-black backdrop-blur-3xl"
                >
                  ¡Descubre la cultura!
                </span>
              </button>
            </a>
          </div>
        </div>
      </div>

      
      <!-- MISIÓN / VISIÓN / VALORES -->
      <h2 class="text-center text-4xl font-bold mb-10">
        Misión · Visión · Valores
      </h2>
      <MagicBento
        textAutoHide={false}
        enableStars={true}
        enableSpotlight={true}
        enableBorderGlow={true}
        enableTilt={true}
        enableMagnetism={true}
        clickEffect={true}
        spotlightRadius={300}
        particleCount={12}
        glowColor="185, 255, 102"
        client:load
      />
      <br />
      <Team />
      <br />
    </Container>
  </main>
</Layout>
