---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { createClient } from "@supabase/supabase-js";
import BackToTop from "@/components/BackToTop.astro";

const { cookies } = Astro;

let user = null;
let displayName = null;
let avatar = null;

// Recuperar el token de la cookie de este navegador
const accessToken = cookies.get("sb-access-token");

if (accessToken) {
  const supabaseServer = createClient(
    import.meta.env.SUPABASE_URL,
    import.meta.env.SUPABASE_ANON_KEY,
    {
      global: {
        headers: { Authorization: `Bearer ${accessToken.value}` },
      },
    }
  );

  // 🔑 Obtener usuario logueado
  const {
    data: { user: currentUser },
  } = await supabaseServer.auth.getUser();

  if (currentUser) {
    user = currentUser;

    // 🔎 Obtener datos del perfil
    const { data: profileData } = await supabaseServer
      .from("profiles")
      .select("nombre, avatar_url")
      .eq("id", user.id)
      .single();

    displayName = profileData?.nombre ?? "Usuario";
    avatar = profileData?.avatar_url ?? "/default-avatar.webp";
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BeelTraveler</title>

    <meta
      name="description"
      content="A beautiful and functional landing page design created specifically for digital marketing agencies. With its clean and modern design, Positivus is the perfect template to showcase your agency's services and case studies to potential clients. Built with astro and tailwindcss"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body
    class="bg-gradient-to-br from-green-50 via-white to-emerald-50 font-SpaceGrotesk"
  >
    <Navbar user={user} displayName={displayName} avatar={avatar} />
    <slot />
    <BackToTop  />
    <Footer />
    <script type="text/javascript" src="./dist/main.js" is:inline></script>
  </body>
  <script is:inline src="/node_modules/preline/dist/preline.js"></script>
</html>
